.all
{
    border: 5px ridge lightgrey;
    border-radius: 7px;
    font: 18px 'Trebuchet MS', sans-serif;
    word-wrap: break-word;
    margin: 4px;
    padding: 4px;
    float: left;
}

a
{
    text-decoration: none;
}

.form
{
    width: 400px;
    max-height: 1000px;
    background-color: lightskyblue;
    overflow: hidden;
}

.input
{
    width: 373px;
    background-color: white;
}

textarea
{
    background-color: white;
    width: 363px;
    border: 3px ridge lightgrey;
    border-radius: 7px;
    font: 15px 'Trebuchet MS', sans-serif;
}

input[type=submit] 
{
    background-color: white;
    border: 5px ridge lightgrey;
    border-radius: 7px;
    font: 15px 'Trebuchet MS', sans-serif;
    margin: 4px;
    padding: 4px;
    float: right;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit]:hover 
{
    background-color: lightsteelblue;
}

.allbuttons
{
    background-color: white;
    border: 5px ridge lightgrey;
    border-radius: 7px;
    font: 15px 'Trebuchet MS', sans-serif;
    margin: 4px;
    padding: 4px;
    float: right;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allbuttons:hover {
    background-color: lightsteelblue;
}

#pic
{
    border-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

img
{
    height: 100px;
    width: 400px;
}

