#form
{
    width: 400px;
    max-height: 1000px;
    border: 5px ridge lightgrey;
    border-radius: 7px;
    padding: 3px;
    font: 20px 'Trebuchet MS', sans-serif;
    background-color: lightblue;
    overflow: hidden;
}

.input
{
    width: 378px;
    margin: 3px;
    border: 5px ridge lightgrey;
    border-radius: 7px;
    padding: 3px;
    font: 20px 'Trebuchet MS', sans-serif;
    background-color: white;
}

#addbutton
{
    float: right;
}

.allbtns
{
    float: right;
    vertical-align: bottom;
    height: 30px;
    margin: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 5px ridge lightgrey;
    border-radius: 7px;
    padding: 2px;
    font: 17px 'Trebuchet MS', sans-serif;
    float: left;
    text-decoration: none;
}

.allbtns:hover {
    background-color: lightyellow;
}












