.container {
    min-height: 100%;
    z-index: 0;
    background-color: #000;
    font-size: 200px;
    width:960px;  /*restircts width*/
    display:  inline-block; /*  to center elements ( in combination with your body{ text-align:center}) and contain floats)*/

}