.all
{
    border: 5px ridge lightgrey;
    border-radius: 7px;
    padding: 3px;
    font: 20px 'Trebuchet MS', sans-serif;
    float: left;
}

.list
{
    width: 500px;
    max-height: 2000px;
    overflow-y: scroll;
    overflow: auto;
    background-color: lightblue;
}

.header
{
    width: 478px;
    margin: 3px;
    align-items: center;
    word-wrap: break-word;
    background-color: lightblue;
    border-style: none;
    font-weight: bold;

}

.task
{
    width: 395px;
    margin: 2px;
    padding: 7px;
    word-wrap: break-word;
    background-color: white;
    display: inline-block;
}

.task:hover
{
    background-color: lightgray;
}

a
{
    text-decoration: none;
}

#addbutton
{
    background-color: white;
    float: right;
    vertical-align: bottom;
    height: 30px;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addbutton:hover
{
    background-color: lightgoldenrodyellow;
}

#detailsbutton {
    background-color: white;
    font-size: 15px;
    float: right;
    vertical-align: bottom;
    height: 30px;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detailsbutton:hover
{
    background-color: lightgoldenrodyellow;
}